<div class="container">
  <div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="btn-edit" onclick="enableEdit()">
             <i class="fa fa-edit icon-edit"></i>
          </button>
          <div class="box-body no-padding info-bill">
            <div class="row row-info">
              <div class="col-xs-6">
                <strong><%= t "admin.bills.name" %>:</strong>
                <input class="show-data show-data-edit" type="text" value=<%= Bill.first.user.name %> disabled />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.start_renting" %>:</strong>
                <input class="show-data" type="text" data-provide='datepicker' value= <%= Bill.first.start_renting %> disabled />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.phone_number" %>:</strong>
                <input class="show-data" type="text" value=<%= Bill.first.user.phone %> disabled />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.end_renting" %>:</strong>
                <input class="show-data" type="text" data-provide='datepicker' value= <%= Bill.first.end_renting %> disabled />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.personal_card" %>:</strong>
                <input class="show-data" type="text" value=<%= Bill.first.user.personal_card %> disabled />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.extend_renting" %>:</strong>
                <input class="show-data" type="text" disabled />
              </div>
              </div>
            </div>
        <div class="modal-body">
          <div class="box-body table-responsive no-padding">
            <table class="table table-bill table-hover">
              <tr>
                <th><%= t "admin.bills.id" %></th>
                <th><%= t "admin.products.product_name" %></th>
                <th><%= t "admin.bills.quantity" %></th>
                <th><%= t "admin.products.price" %></th>
                <th><%= t "admin.bills.total" %></th>
                <th><%= t "admin.bills.remove" %></th>
              </tr>
            </table>
          </div>
          <div class="row total-bill">
            <div class="col-xs-2">
              <strong><%= t "admin.bills.extend" %>:</strong><br>
            </div>
            <div class="col-xs-2">
              <strong><%= t "admin.bills.total_money" %>:</strong>
            </div>
        </div>
      </div>
        <!-- Modal footer -->
        <div class="modal-footer footer-bill">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t "admin.bills.btn_pay" %></button>
          <button type="button" class="btn btn-danger btn-cancel" onclick="disableEdit()" data-dismiss="modal"><%= t "admin.bills.btn_cancel" %></button>
        </div>
      </div>
    </div>
  </div>
</div>
