<div class="container">
  <div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fa fa-edit"></i>
          <div class="box-body no-padding info-bill">
            <div class="row row-info">
              <div class="col-xs-6">
                <strong><%= t "admin.bills.name" %>:</strong>
                <input type="text" value=<%= Bill.first.user.name %> />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.start_renting" %>:</strong>
                <input type="text" data-provide='datepicker' class='date-picker' value= <%= Bill.first.start_renting %> />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.phone_number" %>:</strong>
                <input type="text" value=<%= Bill.first.user.phone %> />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.end_renting" %>:</strong>
                <input type="text" data-provide='datepicker' class='date-picker' value= <%= Bill.first.end_renting %> />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.personal_card" %>:</strong>
                <input type="text" value=<%= Bill.first.user.personal_card %> />
              </div>
              <div class="col-xs-6">
                <strong><%= t "admin.bills.extend_renting" %>:</strong>
                <%#= Bill.first.start_renting %>
              </div>
            </div>
        <div class="modal-body">
          <div class="box-body table-responsive no-padding">
            <table class="table table-bill table-hover">
              <tr>
                <th><%= t "admin.bills.id" %></th>
                <th><%= t "admin.products.product_name" %></th>
                <th><%= t "admin.bills.quantity" %></th>
                <th><%= t "admin.products.price" %></th>
                <th><%= t "admin.bills.total" %></th>
                <th><%= t "admin.bills.remove" %></th>
              </tr>
                <tr>
                  <td><%= Product.first.id %></td>
                  <td><%= Product.first.name %></td>
                  <td><%= ProductBill.first.renting_quantity %></td>
                  <td><%= ProductBill.first.renting_fee_product %></td>
                  <td><%= ProductBill.first.renting_quantity*ProductBill.first.renting_fee_product.to_i %></td>
                  <td><a class="remove-bill"><%= t "admin.bills.remove" %></a></td>
                </tr>
            </table>
          </div>
          <div class="row total-bill">
            <div class="col-xs-2">
              <strong><%= t "admin.bills.extend" %>:</strong><br>
            </div>
            <div class="col-xs-2">
              <strong><%= t "admin.bills.total_money" %>:</strong>
            </div>
        </div>
      </div>
        <!-- Modal footer -->
        <div class="modal-footer footer-bill">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t "admin.bills.btn_pay" %></button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t "admin.bills.btn_cancel" %></button>
        </div>
      </div>
    </div>
  </div>
</div>
