<div class="row-item">
  <div class="col-md-3 col-sm-6 col-xs-12" id="category_<%= category.id %>">
    <div class="box-category">
      <div class="category-content">
          <%= link_to admin_products_path(:category_id => category.id) do %>
          <img  class="image-category" src="<%= category.image %>" alt="Material Dashboard Pro">
          <span class="name-category"><%= category.name %></span>
          <%end%>
        <div class = "btn-group btn-categories-controller">
          <%= link_to edit_admin_category_path(category), remote: true, :class => 'btn btn-default' do %>
          <i class="fa fa-edit"></i>
          <%end%>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteCategory<%=category.id%>"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteCategory<%=category.id%>" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t "admin.categories.del_confirm_title" %></h4>
        </div>
        <div class="confirm-delete">
          <p><%= t "admin.categories.del_confirmation"%><%=category.name%>?</p>
        </div>
        <div class="modal-footer">
          <%= link_to admin_category_path(category),method: :delete,
          data: {} do %>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "admin.categories.del" %></button>
          <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "admin.categories.close" %></button>
        </div>
      </div>
    </div>
  </div>
