<%= form_for([:admin, @product], remote: true, :html => { :role => "form" })  do |p| %>
<div class="modal-body body-add-product">
  <div class="form-group">
    <div class="preview col-md-3 add-image">
      <label for="exampleInputFile"><%= t "admin.products.add_picture" %></label>
      <div >
        <%= p.file_field :image%>
      </div>
    </div>
    <div class="preview col-md-9 add-item">
      <form class="add-form">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label "><%= t "admin.products.category_name" %></label>
          <div class=" text col-sm-10">
            <%= p.select :category_id, @categories.collect { |u| [ u.name, u.id ] },{}, {class: "select-category"} %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><%= t "admin.products.name" %></label>
          <div class="col-sm-10">
            <%= p.text_field :name, class: "input-text" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><%= t "admin.products.price" %></label>
          <div class="col-sm-10">
            <%= p.text_field :price, class: "input-text" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><%= t "admin.products.renting_fee" %></label>
          <div class="col-sm-10">
            <%= p.text_field :renting_fee, class: "input-text" %>
          </div>
        </div>
        <%= p.fields_for :product_sizes do |product_size| %>
          <%= render "product_size", product_size: product_size %>
        <%end%>
        <div class="form-group">
          <button type="button" class="btn-back btn btn-default pull-left" data-dismiss="modal"><%= t "admin.products.btn_back" %></button>
          <%= p.submit t("admin.products.btn_save"), class:" btn btn-primary btn-save" %>
        </div>
      </form>
    </div>
  </div>
</div>
<%end%>
